/*Estilização para home principal*/

* {
    margin: 0;
    padding: 0;
}

a {
    color: rgb(211, 180, 180);
    text-decoration: none;
}

.logo {
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 15vh;
}

main {
    background: url("../Loja-PDW/img/background/Logo1.jpg") no-repeat center center;
    background-size: cover;
    height: 85vh;
}

main .content {
    background-color: rgb(247, 243, 243);
    font-size: 18px;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
}

main .content:hover {
    background-color: rgb(3, 3, 3);
    color: white;
    transition: 0.3s;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list li:hover {
    background-color: grey;
    transition: 0.3s;
    border-radius: 3px;
    padding: 3px;
}


/*End Estilização para home principal*/


/*estilização tabela de preços*/

.corpoTabela {
    background-color: black;
}

table {
    font-family: 'Comfortaa', cursive;
    border: solid #215B63;
    border-style: solid 2px;
    border-radius: 10px;
    border-collapse: collapse;
    padding: 20px;
    background-color: #cee2e4;
}

th {
    border: solid 1px;
    border-style: double, 1px;
    color: #16213E;
}

td {
    border: solid 1px;
    border-style: double, 1px;
    border-radius: 1px;
    color: #1A1A2E;
    background-color: #cee2e4;
    padding: 2px;
}

.tabela {
    margin-left: 38%;
    justify-content: center;
    display: inline-block;
}


/*End estilização tabela de preços*/


/*Estilização html de produtos*/

.product-sections .img img {
    width: 200px;
    margin-top: 25px;
    border: black solid;
}

.product-sections section p {
    font-size: 25px;
    background-color: rgb(235, 235, 235);
    margin-top: 15px;
}

.product-sections {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    row-gap: 15px;
    justify-content: space-around;
    background-color: rgb(252, 252, 252);
}


/*End Estilização html de produtos*/


/*Inicio Estilização html de cadastro*/

.corpo_texto {
    font-family: 'Comfortaa', cursive;
    line-height: 140%;
    padding: 5px 20px 15px;
}

.form {
    padding: 5px
}